[init]
    defaultBranch = main

[gpg]
    format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else }}
    program = /opt/1Password/op-ssh-sign
{{- end }}

[commit]
    gpgsign = true

[alias]
  st      = status --branch
  cm      = commit -v
  ad      = add -p
[rebase]
  autostash = true
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = true
  autostash = true
{{- range $user := .git.users }}
{{- $paths := list $user.id }}
{{- if hasKey $user "orgs" }}
{{- range $user.orgs }}
{{- $paths = append $paths .name }}
{{- end }}
{{- end }}
{{- range $path := $paths }}

[url "git@github-{{ $user.id }}:{{ $path }}/"]
    insteadOf = git@github.com:{{ $path }}/
    insteadOf = ssh://git@github.com/{{ $path }}/
    insteadOf = https://github.com/{{ $path }}/
{{- end }}

[includeIf "hasconfig:remote.*.url:*:{{ $user.id }}/**"]
    path = ~/.config/git/config-{{ $user.id }}
{{- if hasKey $user "orgs" }}{{ range $user.orgs }}

[includeIf "hasconfig:remote.*.url:*:{{ .name }}/**"]
    path = ~/.config/git/config-{{ $user.id }}
{{- if hasKey . "signing" }}

[includeIf "hasconfig:remote.*.url:*:{{ .name }}/**"]
    path = ~/.config/git/config-{{ .name }}
{{- end }}
{{- end }}{{ end }}
{{- end }}
