[init]
    defaultBranch = main

[gpg]
    format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else }}
    program = /opt/1Password/op-ssh-sign
{{- end }}

[commit]
    gpgsign = true

[alias]
  st      = status --branch
  cm      = commit -v
  ad      = add -p
[rebase]
  autostash = true
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = true
  autostash = true
{{- range $user := .git.users }}

[includeIf "hasconfig:remote.*.url:*:{{ $user.id }}/**"]
    path = ~/.config/git/config-{{ $user.id }}
{{- if hasKey $user "orgs" }}{{ range $user.orgs }}

[includeIf "hasconfig:remote.*.url:*:{{ . }}/**"]
    path = ~/.config/git/config-{{ $user.id }}
{{- end }}{{ end }}
{{- end }}
